In [2]:
import pandas as pd
import numpy as np

In [4]:
labels=['w','x','y','z']
list=[10,20,30,40]
array=np.array([10,20,30,40])
dict={'w':10,'x':20,'y':30,'z':40}

In [5]:
pd.Series(data=list)

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
pd.Series(data=list,index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [7]:
pd.Series(array,labels)

w    10
x    20
y    30
z    40
dtype: int32

In [8]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

### Pandas dataframe and indexing

In [10]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [11]:
sports1['cricket']

1

In [12]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [13]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [15]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.672281  0.104925  0.639396  0.438870  0.737263
B  0.097738  0.420362  0.142961  0.044499  0.123164
C  0.239350  0.807544  0.734587  0.862215  0.175139
D  0.304765  0.418634  0.641534  0.410353  0.726661
E  0.552518  0.450533  0.320620  0.685759  0.368445
F  0.518488  0.513859  0.967520  0.380799  0.607190
G  0.119015  0.332817  0.411330  0.908184  0.710015
H  0.000971  0.764705  0.623335  0.595956  0.482548

In [16]:
df1['Score3']

A    0.639396
B    0.142961
C    0.734587
D    0.641534
E    0.320620
F    0.967520
G    0.411330
H    0.623335
Name: Score3, dtype: float64

In [17]:
df1[['Score2','Score1']]

     Score2    Score1
A  0.104925  0.672281
B  0.420362  0.097738
C  0.807544  0.239350
D  0.418634  0.304765
E  0.450533  0.552518
F  0.513859  0.518488
G  0.332817  0.119015
H  0.764705  0.000971

In [18]:
df1['Score6']=df1['Score1']+df1['Score2']
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  0.672281  0.104925  0.639396  0.438870  0.737263  0.777206
B  0.097738  0.420362  0.142961  0.044499  0.123164  0.518099
C  0.239350  0.807544  0.734587  0.862215  0.175139  1.046895
D  0.304765  0.418634  0.641534  0.410353  0.726661  0.723399
E  0.552518  0.450533  0.320620  0.685759  0.368445  1.003052
F  0.518488  0.513859  0.967520  0.380799  0.607190  1.032347
G  0.119015  0.332817  0.411330  0.908184  0.710015  0.451832
H  0.000971  0.764705  0.623335  0.595956  0.482548  0.765676

In [19]:
df1.drop('Score5',axis=1)

     Score1    Score2    Score3    Score4    Score6
A  0.672281  0.104925  0.639396  0.438870  0.777206
B  0.097738  0.420362  0.142961  0.044499  0.518099
C  0.239350  0.807544  0.734587  0.862215  1.046895
D  0.304765  0.418634  0.641534  0.410353  0.723399
E  0.552518  0.450533  0.320620  0.685759  1.003052
F  0.518488  0.513859  0.967520  0.380799  1.032347
G  0.119015  0.332817  0.411330  0.908184  0.451832
H  0.000971  0.764705  0.623335  0.595956  0.765676

In [22]:
df1.reset_index()

  index    Score1    Score2    Score3    Score4    Score5    Score6
0     A  0.672281  0.104925  0.639396  0.438870  0.737263  0.777206
1     B  0.097738  0.420362  0.142961  0.044499  0.123164  0.518099
2     C  0.239350  0.807544  0.734587  0.862215  0.175139  1.046895
3     D  0.304765  0.418634  0.641534  0.410353  0.726661  0.723399
4     E  0.552518  0.450533  0.320620  0.685759  0.368445  1.003052
5     F  0.518488  0.513859  0.967520  0.380799  0.607190  1.032347
6     G  0.119015  0.332817  0.411330  0.908184  0.710015  0.451832
7     H  0.000971  0.764705  0.623335  0.595956  0.482548  0.765676

In [21]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  Lally     123